*{
    margin: 0;
    padding: 0;
}

.border{
    border-color: black;
    border-width: 1%;
    border-style: solid;
}

.container{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.d1{
    background-color: lightsalmon;
    height: 3rem;
    width: 21rem;
    position: relative;
    left: 1%;
}

.d2{
    background-color: lightsalmon;
    height: 3rem;
    width: 10rem;
    position: absolute;
    top: 0;
    right: 1%;
}

.d3{
    background-color: lightsalmon;
    height: 4rem;
    width: 21rem;
    margin-top: 3%;
    position: relative;
    left: 34%;
}

.d4{
    background-color: lightsalmon;
    height: 1rem;
    width: 5rem;
    margin-top: 1%;
    position: relative;
    left: 46%;
}

.d5{
    background-color: lightsalmon;
    height: 17rem;
    width: 64.5rem;
    margin-top: 1%;
    margin-bottom: 8%;
    position: relative;
    left: 1%;
}

.d6{
    background-color: rgb(66, 66, 66);
    height: 1rem;
    width: 16rem;
    position: absolute;
    top: 38.5%;
    left: 3%;
}

.d7{
    background-color: rgb(66, 66, 66);
    height: 2rem;
    width: 20.5rem;
    position: absolute;
    top: 37%;
    left: 29%;
}

.d8{
    background-color: rgb(66, 66, 66);
    height: 1rem;
    width: 23rem;
    position: absolute;
    top: 38.5%;
    right: 3%;
}

.d9{
    background-color: rgb(66, 66, 66);
    height: 1rem;
    width: 16rem;
    position: absolute;
    top: 49%;
    left: 3%;
}

.d10{
    background-color: rgb(66, 66, 66);
    height: 5rem;
    width: 45rem;
    position: absolute;
    top: 47%;
    left: 29%;
}

.d11{
    background-color: rgb(66, 66, 66);
    height: 1rem;
    width: 18rem;
    position: absolute;
    top: 63%;
    left: 29%;
}

.d12{
    background-color: rgb(66, 66, 66);
    height: 3rem;
    width: 18rem;
    position: absolute;
    top: 70%;
    left: 29%;
}

.d13{
    background-color: rgb(66, 66, 66);
    height: 1.8rem;
    width: 20rem;
    position: absolute;
    top: 72%;
    right: 12%;
}

.d14{
    background-color: lightsalmon;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 2rem;
    width: 10rem;
    position: absolute;
    top: 94%;
    left: 1%;
}

.d15{
    background-color: lightsalmon;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 2rem;
    width: 10rem;
    position: absolute;
    top: 94%;
    left: 18%;
}

.d16{
    background-color: lightsalmon;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 2rem;
    width: 10rem;
    position: absolute;
    top: 94%;
    left: 35%;
}

.d17{
    background-color: rgb(66, 66, 66);
    height: 1rem;
    width: 8rem;
    position: absolute;
    top: 95%;
    right: 1%;
}

